/* Structure based on Angular Material theming variables */

$black: hsl(0, 0%, 13%);
$white: hsl(0, 0%, 88%);

$grey: (
  50: hsl(0, 0%, 98%),
  100: hsl(0, 0%, 96%),
  200: hsl(0, 0%, 93%),
  300: hsl(0, 0%, 88%),
  400: hsl(0, 0%, 76%),
  500: hsl(0, 0%, 66%),
  600: hsl(0, 0%, 50%),
  700: hsl(0, 0%, 39%),
  800: hsl(0, 0%, 26%),
  900: hsl(0, 0%, 13%),
  A100: hsl(0, 0%, 100%),
  A200: hsl(0, 0%, 93%),
  A400: hsl(0, 0%, 74%),
  A700: hsl(0, 0%, 38%),
  A900: hsl(0, 0%, 0%),
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $black,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
    A100: $black,
    A200: $black,
    A400: $black,
    A700: $white,
  ),
);
$blue: (
  50: hsl(204, 82%, 92%),
  100: hsl(204, 53%, 72%),
  200: hsl(205, 78%, 70%),
  300: hsl(206, 67%, 61%),
  400: hsl(206, 73%, 53%),
  500: hsl(206, 73%, 47%),
  700: hsl(206, 73%, 36%),
  900: hsl(206, 66%, 16%),
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    700: $white,
    900: $white,
  ),
);
$cyan: (
  100: hsl(194, 52%, 73%),
  300: hsl(194, 62%, 64%),
  500: hsl(194, 72%, 50%),
  700: hsl(194, 72%, 39%),
  contrast: (
    100: $black,
    300: $black,
    500: $white,
    700: $white,
  ),
);
$green: (
  100: hsl(177, 63%, 72%),
  300: hsl(177, 65%, 57%),
  500: hsl(177, 100%, 35%),
  700: hsl(177, 100%, 24%),
  contrast: (
    100: $black,
    300: $black,
    500: $white,
    700: $white,
  ),
);
$yellow: (
  100: hsl(42.4, 80%, 80.1%),
  300: hsl(42.4, 93%, 60.1%),
  500: hsl(42.4, 100%, 46.1%),
  700: hsl(42.4, 100%, 35.1%),
  contrast: (
    100: $black,
    300: $black,
    500: $white,
    700: $white,
  ),
);
$orange: (
  100: hsl(23.9, 64.2%, 78.7%),
  500: hsl(23.9, 84.2%, 52.7%),
  700: hsl(23.9, 84.2%, 41.7%),
  contrast: (
    100: $black,
    500: $white,
    700: $white,
  ),
);
$red: (
  100: hsl(7.1, 63%, 82%),
  200: hsl(7.1, 66%, 78%),
  300: hsl(7.1, 74%, 70%),
  500: hsl(7.1, 87.4%, 56.5%),
  700: hsl(7.1, 87.4%, 45.5%),
  contrast: (
    100: $black,
    200: $black,
    300: $black,
    500: $white,
    700: $white,
  ),
);
$pink: (
  100: hsl(290, 41%, 78%),
  300: hsl(290, 55%, 70%),
  500: hsl(290, 61%, 58%),
  700: hsl(290, 61%, 47%),
  contrast: (
    100: $black,
    300: $black,
    500: $white,
    700: $white,
  ),
);
$purple: (
  100: hsl(249, 55%, 82%),
  200: hsl(249, 70%, 77%),
  400: hsl(249, 80%, 67%),
  500: hsl(249, 75%, 59%),
  700: hsl(249, 75%, 48%),
  contrast: (
    100: $black,
    200: $black,
    400: $black,
    500: $white,
    700: $white,
  ),
);
$indigo: (
  100: hsl(237, 42%, 75%),
  200: hsl(226, 67%, 68%),
  400: hsl(226, 87%, 59%),
  500: hsl(237, 66%, 50%),
  700: hsl(237, 66%, 39%),
  contrast: (
    100: $black,
    200: $black,
    400: $black,
    500: $white,
    700: $white,
  ),
);
$blue-grey: (
  50: hsl(205, 53%, 95%),
  100: hsla(206, 38%, 87%, 0.75),
  200: hsla(205, 48%, 81%, 0.75),
  300: hsl(205, 22%, 60%),
  400: hsl(205, 24%, 55%),
  600: hsl(206, 35%, 44%),
  700: hsla(216, 24%, 35%, 0.75),
  800: hsla(220, 14%, 26%, 0.75),
  900: hsl(222, 14%, 20%),
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  ),
);
